/* 링크 내부의 아이콘에 대한 스타일 */
:root {
  --custom-link-icon-display: inline-block !important;
}

.sl-markdown-content a :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)) {
  display: var(--custom-link-icon-display);
  vertical-align: -0.125em;
  margin-inline: 0.125em;
}

/* Sidebar */
.sidebar-content {
}

/* Card 컴포넌트 조정 - 서브페이지에만 적용 */
:not(div.card-grid) .card {
  padding: 1rem;
  margin-block: 0.5rem;
}
:not(div.card-grid) .card .card-content {
  padding: 0.5rem;
}
:not(div.card-grid) .card .card-header {
  padding: 0.5rem;
}
:not(div.card-grid) .card .title {
  font-size: 1.2rem;
}
:not(div.card-grid) .card li>p {
  margin-bottom: .5rem;
}

/* Document style override */
h1#_top {
  font-size: 2.4rem;
}
.content-panel h2 {
  font-size: 2rem;
}
.content-panel h3 {
  font-size: 1.8rem;
}
.content-panel h4 {
  font-size: 1.5rem;
}
.content-panel h5 {
  font-size: 1.25rem;
}
.content-panel h6 {
  font-size: 1.1rem;
}

.content-panel ul, .content-panel ol {
  padding-left: 1.2rem;
}
li ul, li ol {
  padding-left: 1rem;
}
.pagination-links a .link-title {
  font-size: 1.2rem;
}