---
import { getCollection } from "astro:content";

const glossary = await getCollection("glossary");

if (glossary.length === 0) {
	throw new Error(
		"No data found for 'glossary' collection. Check your content directory and metadata.",
	);
}

console.log(glossary);
---

<div>
	<ul>
		{
			glossary.map((item) => (
				<li>
					<a href={`/glossary/${item.slug}/`}>
						<h2>{item.data.title}</h2>
						<p>{item.data.description}</p>
					</a>
				</li>
			))
		}
	</ul>
</div>
