---
import { getCollection } from "astro:content";

const glossary = await getCollection("glossary");
---

<nav>
	<ul>
		<li><a href="/guides/">표준 관련 문서 모음</a></li>
		<li><a href="/reference/">참고 자료</a></li>
		<li><a href="/acts/">접근성 점검 도구</a></li>
		<li>
			<a href="/glossary/">용어집</a>
			<ul>
				{
					glossary.map((item) => (
						<li>
							<a href={`/glossary/${item.slug}/`}>{item.data.title}</a>
						</li>
					))
				}
			</ul>
		</li>
	</ul>
</nav>
