<div class="aria-in-html">
	<slot />
</div>

<style type="scss">
	.aria-in-html {
		.amendment,
		.correction,
		.addition {
			padding: 0 .5rem;
			border-color: #330099;
			background: #f5f0ff;
			color: #333;
			a {
				color: #333;
			}
		}
		table {
			.addition {
				margin-top:1rem;
			}
		}
	}
</style>
